.a1 {

background-color: aqua;
border-radius: 15px;
height: 140px;
color: black;

}

.a2 {

background-color: deeppink;
border-radius: 15px;
height: 164px;

}

.a3 {

background-color: mediumaquamarine;
border-radius: 15px;
height: 164px;


}

.input { 


border-color: red;

}


